
      <footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
            <div class="container">
              <div class="row row-30">
                <div class="col-md-4 col-xl-5">
                  
                </div>
                <div class="col-md-4">
                  <h5>Contacts</h5>
                  
                  
                </div>
                <div class="col-md-4 col-xl-3">
                  <h5>Links</h5>
                  <ul class="nav-list">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Contacts</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row no-gutters social-container">
              <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
              <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
              <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
              <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
            </div>
          </footer>